.cover__link {
  max-width: 1184px;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  margin: 0 auto;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 2;
  background-image: url(../../../img/cover-trains.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.cover__link::before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  background-size: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1079px) {
  .cover__link {
    height: 640px;
    margin-top: 60px;
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__link {
    height: 480px;
    margin-top: 90px;
    min-height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__link {
    margin-top: 66px;
    min-height: 200px;
    gap: 16px;
  }
}