.footer__name {
  padding-right: 48px;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__name {
    margin-right: 48px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__name {
    margin-right: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__name {
    line-height: 14px;
    margin-top: 48px;
  }
}
