.tours {
  display: grid;
  max-width: 100%;
  margin-top: 80px;
  padding-left: 148px;
  padding-right: 148px;
  grid-template-columns: 460px 1fr;
  row-gap: 48px;
  column-gap: 40px;
  box-sizing: border-box;
}

.tours:first-child {
  margin-top: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .tours {
    grid-template-columns: 440px 1fr;
    padding: 0;
    row-gap: 48px;
    column-gap: 32px;
    margin-top: 80px;
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tours {
    grid-template-columns: 340px 1fr;
    padding: 0;
    row-gap: 48px;
    column-gap: 28px;
    margin-top: 73px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .tours {
    margin-top: 50px;
    min-width: 320px;
    grid-template-columns: 288px;
    padding-left: 0;
    padding-right: 0;
    gap: 0;
  }
}