.header__logo {
  margin-top: 28px;
  height: 52px;
  width: 172px;
  border-radius: 0px;
  margin-top: 28px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    height: 42px;
    max-width: 144px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo {
    margin-left: 24px;
  }
}