.header__languages {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__languages {
    padding-left: 0px;
    margin-right: 13px;
  }
}