.cover__title {
  max-width: 560px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  font-size: 72px;
  line-height: 76px;
  position: relative;
  z-index: 2;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 33px;
    min-width: 288px;
    align-items: center;
  }
}