.tours__link {

    color: white;
    text-decoration: underline;
}

.tours__link:hover {
    opacity: 0.8;
    ;
    color: white;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .tours__link {
        margin-left: 16px;
    }
}