.tours__title {
    max-width: 460px;
    align-self: end;
    font-weight: 900;
    margin: 0;
    font-size: 72px;
    line-height: 76px;
    color: white;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .tours__title {
      margin-left: 10px;
      font-size: 42px;
      line-height: 46px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .tours__title {
      font-size: 32px;
      line-height: 35px;
      margin-left: 14px;
      margin-right: 14px;
      padding-bottom: 32px;
    }
  }